<% layout('/layout/wrapper') -%>

<div><h3>My personal data:</h3></div>
<div><span>My name: </span><span><%= data[0].name %></span></div>
<div><span>My sername: </span><span><%= data[0].sername %></span></div>
<div><span>My age: </span><span><%= data[0].age %></span></div>
<a href="/create">add new</a>
<div><h3>All personal data:</h3></div>
<% users.forEach((user)=>{ %>
    <div><span>name: </span><span><%= user.name %></span></div>
    <div><span>sername: </span><span><%= user.sername %></span></div>
    <div><span>age: </span><span><%= user.age %></span></div>
<% }) %>
